<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OUTech - Configurator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <div class="main">
        <h1>OUTech Settings</h1>
        <h3>Select a tool</h3>
        <div class="menu">
            <a class="menu-item" href="{{ url_for('pid_settings_view') }}">PID</a>
            <a class="menu-item" href="{{ url_for('servo_settings_view') }}">Servo</a>
        </div>
    </div>
</body>
</html>